{% extends "base.html" %}
{% block app_content %}
	<div class="card" style="width: 18rem;">
  		<img src="https://blogs.sas.com/content/customeranalytics/files/2018/12/decision-management.jpg" width="200" height="200"  class="card-img-top" alt="...">
  		<div class="card-body">
    		<h5 class="card-title">Yes/No</h5>
    		<p class="card-text">In this game you must define if the word's tranlation is right or wrong.</p>
    		<a href="{{ url_for('game_yes_no') }}" class="btn btn-primary">Play now</a>
  		</div>
</div>
{% endblock %}

