 {% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
<div class="containder">
  <form method="POST">
    {{ form.csrf_token }}
<div class="row">
  <div class="col-md-2  col-md-offset-2">
   {{ form.foreign_languages() }}
  </div>
  <div>
    {{ form.submit }}
  </div>
  </form>
</div>
<div class="row">
  <div class="col-md-8    col-md-offset-2">
    <table class="table">
      <thead class="thead-dark">
        <tr id="id4">
          <th scope="col">#</th>
          <th scope="col">Native Language</th>
          <th scope="col">Foreign Language</th>
          <th scope="col">Remarks</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
</div>

	  {% for word in words %}
        {% include '_words.html' %}
    {% endfor %}
    {% if previous_url %}
    <a href="{{ previous_url }}">Previous page</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Next page</a>
    {% endif %}

{% endblock %}
{% block scripts %}
  {{ super()  }}
  <script>
    function clear(word_id){
      $('#id4').addClass('table-info');
      alert("The function work ok");
    }
  </script>
{% endblock %}
