{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block scripts %}
    

    <script type="text/javascript" src=" https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function add_word()
        {
            $.post('/add_words', {
                eng: $('#word1').val(),
                russian: $('#translate1').text()


            })
        }
        function translate(sourceElem) {
            $.post('/translate', {
                text: $(sourceElem).val()
            }).done(function(response) {
                var tr ={};
                var synonim ="";
                var synonims = response['text']['def'][0]['tr'][0]['syn'];
                for (var i =0; i < synonims.length;i++)
                {
                    synonim += synonims[i]['text'] + "; ";
                }
                $('#synonims').text(synonim);
                $('#translate1').text(response['text']['def'][0]['tr'][0]['text']);

                
            }).fail(function() {
                
                $('#translate1').text("Server is not available ");
            });
            
        }
    </script>
{% endblock %}
{% block app_content %}
    <form class="form-inline">
  		<label class="sr-only" for="inlineFormInputName2">Nametx</label>
  		<input type="text" class="form-control mb-2 mr-sm-2" id="word1" placeholder="Write a word here">
  	     <span id="textid">
                    <a href="javascript:translate(
                                '#word1',
                                '#translate1')
                               ">Translate please</a>
                </span>
	       </form>
    <div>
        <h5>Translation: </h5>
	   <span id="translate1">
        
        </span><br>

        <h5>Synonim: </h5>
        <span id="synonims">
            
        </span><br>
        <h4>Add word</h4>
        <input type="submit" name="Add word" onclick="add_word()">

    </div>

{% endblock %}
