{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block scripts %}
	<script type="text/javascript" src=" https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script type="text/javascript">
	var words;
	var i=0;
	var t=0;
    var k=0;
    var isCorrect;
    var score=1;
	$(document).ready(getWords());
	function getWords() {
            $.post('/getNext').done(function(response) {
                words = response;
            }).fail(function() { 
            });
        }
    function getNext(ans)
    {

    	if (ans == isCorrect)
    	{
    		score = score + 1;
    		$('#idps').text(score);
    	}
    	else
    	{
    		if (score == 0)
    		{

    		}
    		else
    		{
    		score = score - 1;
    		$('#idps').text(score);
    	}
    	}
    	t = Math.floor(Math.random()*words['words'].length-1) + 1;
    	if (Math.random() > 0.5)
    	{
    		k = Math.floor((Math.random()*(words['words'].length-2)) + 1);
    		isCorrect = false;


    	}
    	else
    	{
    		k = t;
    		isCorrect = true;

    	}
    


    	$('#eng').text(words['words'][t]['eng']);
    	$('#rus').text(words['words'][k]['rus']); 
    	




















    };
    

	</script>
{% endblock %}
{% block app_content %}
<div class="container">
<div class="row justify-content-end">
    <div class="col-4">
      <div class="col align-items-center">
        <div class="card text-center">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <span id="eng"></span> = 
                <span id="rus"></span><br>
                <h5 id="idsc">Points: </h5><br>
                <span id="idps"></span>
                <button type="button" class="btn btn-success" onclick="getNext(true)">Yes</button>
                <button type="button" class="btn btn-danger" onclick="getNext(false)">No</button>
            </div>
        </div>
    </div>
    </div>
    <div class="col-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Record</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>


	
{% endblock %}
